<!doctype html>
<html lang="">

<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{title}}</title>

  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/styles/f.css">

  <!-- toolkit styles -->
  <link rel="stylesheet" href="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/styles/toolkit.css">
  <!-- /toolkit styles -->

</head>

<body>

  {{> f-icons}} 
  {{> f-menu}}
  <div class="f-container">
    
    {{> f-control-bar}} 

    <div class="f-item-group" id="{{@key}}">

      <div class="f-item-heading-group" data-f-toggle="labels">
        <h2 class="f-item-heading">{{name}}</h2>
        {{> f-item-controls}}
      </div>

      {{#if notes}}
      <div class="f-item-notes" data-f-toggle="notes">
        <p>{{{notes}}}</p>
      </div>
      {{/if}}
      
      <div class="f-item-preview">
        {% body %}
      </div>

      <div class="f-item-code f-item-hidden" data-f-toggle="code">
        <pre><code class="language-markup">{{prettyHTML block-markup}}</code></pre>
      </div>
    
    </div>

  </div>
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/fabricator/scripts/f.js"></script>

  <!-- toolkit scripts -->
  <script src="{{#if baseurl}}{{ baseurl }}/{{/if}}assets/toolkit/scripts/toolkit.js"></script>
  <!-- /toolkit scripts -->

</body>

</html>